/*!
 * Copyright 2017 monad
 */
@charset "utf-8";
.game-list .list-group-item {
  height: 450px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  transition: 0.35s ease-in-out;
  cursor: pointer;
}
.game-list .list-group-item:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.35);
}
.game-list .list-group-item img {
  display: block;
  margin: 0 auto;
  width: 129px;
  height: 169px;
}
.game-list .list-group-item .desctiption {
  opacity: 0.6;
  filter: alpha(opacity=60);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.panel .list-group-item input[type="checkbox"] {
  display: none;
}
.panel .list-group-item.active {
  background: #565c6b;
}
