html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	font: 400 16px/1.8 "Open Sans","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	background: #fff;
	color: #555;
	position: relative;
	overflow-x: hidden;
	transition: transform .3s;
}
h1{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
}
li{
	color: #909090;
	padding: 15px 0;
	text-indent: 2em;
	cursor: pointer;
}
li:hover{
	background: #171717;
	border-left: 5px solid #b3d5f3;
}
i{
	position: absolute;
	left: 15px;
	top: 15px;
	display: block;
	padding: .3em 1em;
	color: #fff;
	font-size: 24px;
	font-style: normal;
	background: rgba(0,0,0,.3);
	z-index: 99;
	cursor: pointer;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 270px;
	padding-top: 45px;
	background: #232323;
	transform: translateX(-300px);
	transition: transform .3s;
    box-shadow: 3px 0 6px rgba(0,0,0,.3);
}
main{
	position: relative;
	height: 100%;
}
.container{
	width: 1000px;
	height: 100%;
	padding-left: 200px;
	padding-top: 45px;
}
.drawer-open{
	transform: translateX(300px);
}