/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* General
***********************/
@media (max-width: 40em) {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; } }

input[type="submit"], input[type="reset"], input[type="button"], select, button {
  -webkit-appearance: none; }

html, body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  color: #333;
  background: #fff; }

body, button, input, select, textarea {
  font: normal 16px "helvetica neue", tahoma, "hiragino sans gb", stheiti, "wenquanyi micro hei", \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
  line-height: 1.7; }

a {
  color: #2094c4;
  outline: none;
  text-decoration: none; }
  a:hover {
    color: #64c0e6; }
    a:hover > img {
      opacity: 0.8;
      filter: alpha(opacity=80); }
  a:active {
    color: #197398; }

p {
  font-size: 16px;
  text-align: justify;
  word-break: break-all;
  margin-bottom: .5em; }

.left {
  float: left; }

.right {
  float: right; }

.container {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto; }
  @media (max-width: 48em) {
    .container {
      width: 750px; } }
  @media (max-width: 40em) {
    .container {
      width: 94%; } }

img {
  display: block;
  width: 100%; }

input[type="text"], textarea {
  display: block;
  margin: 1em auto;
  width: 100%;
  height: 2em;
  padding: 0;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  font-size: 16px;
  text-indent: .5em; }

textarea {
  height: auto;
  resize: vertical;
  overflow-y: auto; }

.btn, a.btn {
  display: block;
  margin: 1em auto;
  width: 100%;
  height: 2em;
  padding: 0;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  background: #D0875A;
  cursor: pointer; }
  .btn:active, a.btn:active {
    background: #c06b37; }

.left {
  float: left; }

.right {
  float: right; }

nav {
  width: 100%;
  height: 56px;
  background: #333; }
  nav a {
    display: block;
    font-size: 18px;
    color: #999;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    nav a:hover {
      color: #eee; }
  nav .menu-btn {
    display: none;
    width: 30px;
    height: 56px;
    margin-left: 15px;
    background: url(../img/icon-hamburger.png) no-repeat 50% 50%;
    opacity: 0.6;
    filter: alpha(opacity=60);
    cursor: pointer; }
  nav .logo > a {
    display: block;
    width: 90px;
    height: 56px;
    padding: 0 20px;
    padding-top: 15px; }
    nav .logo > a > img {
      display: block;
      width: 100%; }
  nav .main-nav li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    height: 56px;
    line-height: 56px;
    padding: 0 .5em; }
    nav .main-nav li .sub-nav {
      display: none;
      width: 240px;
      padding-bottom: .5em;
      background: #333;
      -webkit-border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px;
      -ms-border-radius: 0 0 6px 6px;
      -o-border-radius: 0 0 6px 6px;
      border-radius: 0 0 6px 6px;
      -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
      -ms-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
      -o-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6); }
      nav .main-nav li .sub-nav > li {
        display: block;
        height: auto;
        line-height: 1.7;
        padding: .2em 1em; }
        nav .main-nav li .sub-nav > li:hover {
          background: #555; }
    nav .main-nav li:hover .sub-nav {
      display: block;
      position: absolute;
      top: 56px; }
  nav .login a, nav .login span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 .5em;
    height: 56px;
    line-height: 56px; }
  nav .login .search-btn {
    width: 15px;
    background: url(../img/icon-search.png) no-repeat 50% 50%;
    background-size: 60%;
    cursor: pointer; }
  nav .login .search-input {
    width: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    nav .login .search-input.show {
      width: 180px; }

@media (max-width: 62em) {
  nav .main-nav li {
    padding: 0 .2em; }
  nav .login a {
    display: none; } }

@media (max-width: 40em) {
  nav .logo {
    float: none; }
    nav .logo a {
      margin: 0 auto;
      width: 7em; }
  nav .login, nav .main-nav li {
    display: none; }
  nav .main-nav.toggle {
    width: 100%; }
    nav .main-nav.toggle li {
      display: block;
      padding-left: 15px;
      background: #333; }
      nav .main-nav.toggle li:hover .sub-nav {
        display: none; }
    nav .main-nav.toggle li + li {
      border-top: 1px solid #444; }
  nav .menu-btn {
    display: block; } }

/*# sourceMappingURL=style.css.map */